<h1>Welcome to the To Do List!</h1>
<form action="/parcels" method="post">
    <label for="height">Please Enter The Height</label>
    <input id="height" name="height" type="number" required>
    <br>
    <label for="width">Please Enter The Width</label>
    <input id="width" name="width" type="number" required>
    <br>
    <label for="depth">Please Enter The Depth</label>
    <input id="depth" name="depth" type="number" required>
    <br>
    <label for="weight">Please Enter The Weight</label>
    <input id="weight" name="weight" type="number" required>
    <br>
    <button type="submit">Submit</button>
</form>